/*
 * Skin: Unit4
 * ----------
 */
.skin-u4 .main-header .navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}
.skin-u4 .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-u4 .main-header .navbar .nav > li > a:hover,
.skin-u4 .main-header .navbar .nav > li > a:active,
.skin-u4 .main-header .navbar .nav > li > a:focus,
.skin-u4 .main-header .navbar .nav .open > a,
.skin-u4 .main-header .navbar .nav .open > a:hover,
.skin-u4 .main-header .navbar .nav .open > a:focus,
.skin-u4 .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-u4 .main-header .navbar .sidebar-toggle {
  color: #4a5c69;
}
.skin-u4 .main-header .navbar .sidebar-toggle:hover {
  color: #40505d;
  background: rgba(0, 0, 0, 0.1);
}
.skin-u4 .main-header .navbar .sidebar-toggle:hover {
  background-color: #fff;
}
@media (max-width: 767px) {
  .skin-u4 .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-u4 .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-u4 .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-u4 .main-header .logo {
  background-color: #4a5c69;
  color: #f5f5f6;
  border-bottom: 0 solid transparent;
  border-bottom: 1px solid #374752;
}

.skin-u4 .main-header li.user-header {
  background-color: #3c8dbc;
}
.skin-u4 .header-title{
    color: #4a5c69;
}
.skin-u4 .search-field .input-group-addon {
    border: none;
}

.skin-u4 .search-field .input-group-addon i {
    position: relative; 
    left: 25px; 
    z-index: 10;
}

.skin-u4 .search-field .navbar-form .input-group input {
    padding-left: 20px; 
    width: 400px; 
    border-top:none; 
    border-left: none; 
    border-right: none;
}
.skin-u4 .content-header {
  background: transparent;
}
.skin-u4 .wrapper,
.skin-u4 .main-sidebar,
.skin-u4 .left-side {
  background-color: #4a5c69;
}
.skin-u4 .user-panel > .info,
.skin-u4 .user-panel > .info > a {
  color: #f5f5f6;
}
.skin-u4 .sidebar-menu > li.header {
  color: #f5f5f6;
  background: #4a5c69;
}
.skin-u4 .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-u4 .sidebar-menu > li:hover > a,
.skin-u4 .sidebar-menu > li.active > a {
  color: #f5f5f6;
  background: #40505d;
  border-left-color: #afc836;
}
.skin-u4 .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-u4 .sidebar a {
  color: #f5f5f6;
}
.skin-u4 .sidebar a:hover {
  text-decoration: none;
}
.skin-u4 .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-u4 .treeview-menu > li.active > a,
.skin-u4 .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-u4 .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-u4 .sidebar-form input[type="text"],
.skin-u4 .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-u4 .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-u4 .sidebar-form input[type="text"]:focus,
.skin-u4 .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-u4 .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-u4 .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-u4.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-u4.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}
.skin-u4 .topbar {
    display: block;
    position: relative;
    width: 100%;
    min-height: 4px;
}
.skin-u4 .topbar::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-image: -webkit-linear-gradient(left,#4ac7ed 10px,#f68d2e 10px,#f68d2e 16%,#aab1b6 16%,#aab1b6 51%,#afc836 51%);
    background-image: linear-gradient(to right,#4ac7ed 10px,#f68d2e 10px,#f68d2e 16%,#aab1b6 16%,#aab1b6 51%,#afc836 51%);
    content: ' '
}
.skin-u4 .box {
    border: 1px solid #e6e6e6;
    box-shadow: none;
    border-radius: none;
}
.skin-u4 .box .box-body {
    color: #7d7d7d;
}