<!-- Header -->
<app-header></app-header>

<!-- Left sidebar -->

<!-- Content Wrapper -->
<div class="content-wrapper" style="min-height: 1126px;">

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-8">

                <section *ngIf="searchResults && searchResults.numberOfResults > 0"  class="content-header">
                    <h1>
                    Search results
                    </h1>
                </section>

                <section *ngIf="searchResults && searchResults.numberOfResults > 0" class="content">
                    <app-search-results [results]="searchResults"></app-search-results>
                </section>

                <div *ngIf="searchResults && searchResults.numberOfResults == 0">
                    <app-no-results></app-no-results>
                </div>

            </div>
            <div class="col-md-4">
                <section *ngIf="projects && projects.length > 0" class="content-header">
                    <h1>
                        Projects
                    </h1>
                </section>

                <section class="content">
                    <div class="row">
                        <app-projects [projects]="projects" [style]="'col-md-12'"></app-projects>
                    </div>
                </section>
            </div>
        </div>

    </section>
</div>

