<!-- Header -->
<app-header></app-header>

<!-- Left sidebar -->
<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">

    <ul class="sidebar-menu">
      <li class="header">SETTINGS</li>
      <li class="active">
        <a [routerLink]="['/account']" routerLinkActive="active">
          <i class="fa fa-user"></i> <span>My account</span>
          <span class="pull-right-container"></span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/projects']" routerLinkActive="active">
          <i class="fa fa-files-o"></i> <span>Projects</span>
          <span class="pull-right-container"></span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/users']" routerLinkActive="active">
          <i class="fa fa-users"></i> <span>Users</span>
          <span class="pull-right-container"></span>
        </a>
      </li>
    </ul>

  </section>
</aside>

<!-- Content Wrapper -->
<div class="content-wrapper" style="min-height: 1126px;">

  <!-- Main content -->
  <section class="content">

    <!-- Content -->
    <form class="form-horizontal" (ngSubmit)="onSave()">

      <div class="row">

        <div class="col-md-6">

          <!-- Start: Personal information -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Personal information</h3>
            </div>

            <div class="box-body">

              <div class="form-group">
                <label for="id" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" [ngModel]="user.id" name="id" disabled />
                </div>
              </div>

              <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [ngModel]="user.name" name="name" disabled />
                </div>
              </div>

            </div>
          </div>
          <!-- End: Personal information -->

          <!-- Start: Projects -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Projects</h3>
            </div>
            <div class="box-body no-padding">

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Project Id</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let project of user.projects; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ project }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
          <!-- End: Projects -->

        </div>

        <div class="col-md-6">

          <!-- Start: Permissions -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Permissions</h3>
            </div>
            <div class="box-body">

              <div class="form-group">
                <label for="role" class="col-sm-3 control-label">Role</label>
                <div class="col-sm-9">
                  <select class="form-control" id="role" [ngModel]="user.role" name="role" disabled>
                    <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="role" class="col-sm-3 control-label">Access token</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input type="text" class="form-control" [ngModel]="user.accessToken" name="accessToken" disabled />
                    <span class="input-group-btn">
                      <button (click)="regenerate()" type="button" class="btn btn-info btn-flat">Regenerate</button>
                    </span>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!-- End: Permissions -->

        </div>

      </div>

    </form>
    <!-- End Content -->

  </section>
</div>

<!-- Footer -->
<app-footer></app-footer>