img {
    max-width: 100%;
}

.topbar {
    display: none;
}

.main-header .navbar .sidebar-toggle {
  color: #fff;
}
.main-header .navbar .sidebar-toggle:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
}

.box {
    border: 1px solid #e6e6e6;
    box-shadow: none;
    border-radius: none;
}

.box .box-header {
    color: #4a5c69;
}

.box .box-body {
    color: #7d7d7d;
}

.box .box-body dt {
    padding-top: 12px;
}

.box .box-title a {
    color: #4a5c69;
    cursor: pointer;
}

.box .box-footer {
    height: 41px;
}

.box.box-default .box-body {
    height: 100px; 
    overflow: overlay;
}

.document-content {
    max-width: 650px;
    color: #5d5d5d;
    padding-left: 10px;
}

.document-content h1, .document-content h2, .document-content h3 {
    color: #4a5c69;
}

.document-header {
    top: 8px;
    position: relative;
}

.document-header > .breadcrumb {
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 2px 2px;
    border-radius: 2px
}

.document-header > .breadcrumb > li > a {
    color: #444;
    text-decoration: none;
    display: inline-block
}

.document-header > .breadcrumb > li > a > .fa, .content-header > .breadcrumb > li > a > .glyphicon,
.document-header > .breadcrumb > li > a > .ion {
    margin-right: 5px
}

.document-header > .breadcrumb > li + li:before {
    content: '>\00a0'
}

.logo-mini img
{
    width: 30px;
}

.logo-lg img
{
    width: 190px;
}

.header-title{
    float: left;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
}

.document-tag {
    margin-left: 4px;
    padding: 3px 6px;
    font-weight: normal;
}

.branch-separator {
    padding: 0px 4px;
    color: #e2e2e2;
}

.loader {
    color: #4a5c69;
}

.page-loader {
    font-size: 32px;
    text-align: center;
}

.sidebar-menu,.main-sidebar .user-panel,.sidebar-menu>li.header {
    white-space: normal;
}

.note {
    margin: 20px 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
    border-color: #035771;
    color: #fff;
    background-color: #4ac7ed;
    font-size: 16px;
}

code.hljs {
    display: inline;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

pre {
    background-color: white;
    border-radius: 0px;
    border: 1px solid #e6e6e6;
}

pre code.hljs {
    display: block;
    font-size: 12px;
    font-family: monospace;
    font-weight: lighter;
}

.search-result-stats {
    color: #777;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 12px;
}

.search-result {
    max-width: 650px;
    padding-left: 20px;
    padding-bottom: 40px;
}

.search-header {
    padding-bottom: 4px;
}

.search-title {
    font-size: 18px;
    color: #4a5c69;
    font-weight: 600;
}

.search-project {
    text-transform: uppercase;
}

.search-body {
    line-height: 1.5em;
    max-height: 7.5em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
}

.search-body em {
    font-weight: bold;
    font-style: normal;
    color: #4a5c69;
}

.cursor-pointer {
    cursor: pointer;
}

.pace .pace-progress {
    background-color: #4a5c69;
    height: 4px;
}

.pace .pace-activity {
  border-top-color: #4a5c69;
  border-left-color:#4a5c69;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  border-width: 4px;  
}