<!-- Header -->
<app-header></app-header>

<!-- Left sidebar -->
<app-settings-menu active="projects"></app-settings-menu>

<!-- Content Wrapper -->
<div class="content-wrapper" style="min-height: 1126px;">

  <!-- Main content -->
  <section class="content">

    <!-- Content -->

    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">List of projects</h3>
      </div>

      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody><tr>
            <th>#</th>
            <th>Name</th>
            <th class="hidden-xs hidden-sm hidden-md">Tags</th>
            <th class="hidden-xs hidden-sm hidden-md">Default branch</th>
            <th class="hidden-xs hidden-sm">Group</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let project of projects; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              {{ project.name }} <small *ngIf="hasAccessToEdit(project.id) | async">(<a [routerLink]="['/projects', project.id, 'branches']">branches</a>)</small>
            </td>
            <td class="hidden-xs hidden-sm hidden-md">
              <small *ngFor="let tag of project.tags" class="label bg-gray document-tag"> {{ tag }} </small>
            </td>
            <td class="hidden-xs hidden-sm hidden-md">{{ project.defaultBranch }}</td>
            <td class="hidden-xs hidden-sm">{{ project.group }}</td>
            <td>
              <a *ngIf="hasAccessToEdit(project.id) | async" [routerLink]="['/project-info', project.id]" class="btn btn-default btn-xs btn-flat">Edit</a>
              <span *ngIf="hasAccessToDelete(project.id) | async">
                <a *ngIf="!project.deletionMode" (click)="tryDeleteProject(project)" class="btn btn-warning btn-xs btn-flat">Delete</a>
                <span *ngIf="project.deletionMode">
                  <a (click)="cancelDeleteProject(project)" class="btn btn-default btn-xs btn-flat">Cancel</a>
                  <a (click)="confirmDeleteProject(i)" class="btn btn-danger btn-xs btn-flat">I'm sure</a>
                </span>
              </span>
            </td>
          </tr>
        </tbody></table>
      </div>
      
      <div *ngIf="hasAccessToAddNewProject" class="box-footer">
        <a [routerLink]="['/project-info']" class="btn btn-primary btn-sm btn-flat">Add project</a>
      </div>
      
    </div>

    <!-- End Content -->

  </section>
</div>

<!-- Footer -->
<app-footer></app-footer>