<!-- Header -->
<app-header></app-header>

<!-- Left sidebar -->
<app-settings-menu active="users"></app-settings-menu>

<!-- Start: Content wrapper -->
<div class="content-wrapper" style="min-height: 1126px;">

  <!-- Start:  content -->
  <section class="content">

    <form class="form-horizontal" (ngSubmit)="onSave()">

      <!-- Start: actions -->
      <div class="box box-solid">
        <div class="box-body">
          <div class="pull-right">
            <a [routerLink]="['/users']" type="submit" class="btn btn-default btn-flat">Cancel</a>
            <button type="submit" class="btn btn-primary btn-flat">Save</button>
          </div>
        </div>
      </div>
      <!-- End: actions -->

      <!-- Start: row -->
      <div class="row">
        <!-- Start: User data -->
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">User data</h3>
            </div>

            <div class="box-body">

              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <div *ngIf="!isEditMode">
                    <input type="email" class="form-control" [(ngModel)]="user.id" name="id" required #id="ngModel" />
                    <div *ngIf="id.errors && (id.dirty || id.touched)">
                        <div [hidden]="!id.errors.required" class="ng-error">
                          Email is required.
                        </div>
                    </div>
                  </div>
                  <input *ngIf="isEditMode" type="email" class="form-control" [(ngModel)]="user.id" name="id" disabled />
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" [(ngModel)]="user.name" name="name" required #name="ngModel" />
                  <div *ngIf="name.errors && (name.dirty || name.touched)">
                      <div [hidden]="!name.errors.required" class="ng-error">
                        Name is required.
                      </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Role</label>
                <div class="col-sm-10">
                  <select class="form-control" id="role" [(ngModel)]="user.role" name="role" required>
                    <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                  </select>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- End: User data -->

        <!-- Start: Projects -->
        <div class="col-md-6">

          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Projects</h3>
            </div>

            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Project Id</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let project of user.projects; let i = index">
                    <td>{{ i + 1}}</td>
                    <td>{{ project }}</td>
                    <td>
                      <a (click)="deleteProject(i)" class="pointer-cursor text-red pull-right">Delete</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="box-footer">
              <div class="row">
                <div class="col-md-10">
                  <input (keyup)="changeProjectName($event)" #projectName type="text" [ngClass]="{'form-control': true, 'input-sm': true, 'ng-invalid': projectNameRequired || projectNameExists, 'ng-touched': projectNameRequired || projectNameExists }" placeholder="Project id" />
                  <div>
                      <div [hidden]="!projectNameRequired" class="ng-error">
                        Project name is required.
                      </div>
                      <div [hidden]="!projectNameExists" class="ng-error">
                        Project name exists.
                      </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <a class="btn btn-success btn-xs btn-flat pull-right" (click)="addProject(projectName)">Add project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End: Projects -->

      </div>
      <!-- End: row -->
        
    </form>

  </section>
  <!-- End: content -->

</div>
<!-- End: Content wrapper -->

<!-- Footer -->
<app-footer></app-footer>