<!-- Header -->
<app-header></app-header>

<!-- Left sidebar -->

<!-- Content Wrapper -->
<div class="content-wrapper" style="min-height: 1126px;">

  <!-- Main content -->
  <section class="content">

    <div class="error-page">

      <div class="error-content" style="margin-left: 0px">
        <h3><i class="fa fa-warning text-orange"></i> Oops! Page is forbidden for you.</h3>
        <p>
          Meanwhile, you may <a [routerLink]="['/home']">return to home page</a>.
        </p>

      </div>
      <!-- /.error-content -->
    </div>

  </section>
</div>