<!-- Left sidebar -->


<!-- Content Wrapper -->
<div class="content-wrapper" style="min-height: 1126px;">
    
    <!-- Content Header (Page header) -->
    <section class="content-header">

    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <!-- Document -->
                        Searching...
                        <!-- End Document -->
                    </div>
                    <div class="box-footer">
                        Here we can add some general information....
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

