<div class="{{ style }}" *ngFor="let project of projects">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title"><i *ngIf="project.isAccessLimited" class="fa fa-pencil-square"></i> <a (click)="openDocumentation(project.id)">{{ project.name }}</a></h3>
            <small *ngFor="let tag of project.tags" class="label pull-right bg-light-blue document-tag"> {{ tag }} </small> 
        </div>
        <div class="box-body">
            <p>{{ project.description }}</p>
        </div>
        <div class="box-footer branch-footer">
            <app-branches [projectId]="project.id"></app-branches>
        </div>
    </div>
</div>