<!-- Left sidebar -->
<aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">

        <ul class="sidebar-menu">
            <li class="header">PRODUCTS</li>
            <li *ngFor="let group of groups">
                <a href="#">
                    <i class="fa fa-file-text"></i> <span>{{ group }}</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
        </ul>

    </section>
</aside>

<!-- Content Wrapper -->
<div class="content-wrapper" style="min-height: 1126px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <button class="btn btn-default">Add project</button>
        <!-- Tags -->
        <div class="pull-right">
            <ss-multiselect-dropdown [options]="tags" [texts]="myTexts" [settings]="mySettings"></ss-multiselect-dropdown>
        </div>
        <div class="clearfix"></div>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <!-- Projects -->
        <div class="row">
            <projects [projects]="projects" [style]="'col-lg-4 col-md-6'"></projects>
        </div>
        <!-- End Projects -->

    </section>
</div>
