<!-- Header -->
<header-component></header-component>

<!-- Left sidebar -->
<aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">
        
        <ul class="sidebar-menu">
            <li class="header"></li>
            <li *ngFor="let group of groups" [class]="getGroupStyle(group)">
                <a class="cursor-pointer" (click)="showGroup(group)">
                    <i class="fa fa-file-text"></i> <span>{{ group }}</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
        </ul>

    </section>
</aside>

<!-- Content Wrapper -->
<div class="content-wrapper" style="min-height: 1126px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <!-- Tags -->
        <div class="pull-right">
            <ss-multiselect-dropdown [options]="tags" [texts]="myTexts" [settings]="mySettings" [ngModel]="selectedTags" (ngModelChange)="onTagsChange($event)"></ss-multiselect-dropdown>
        </div>
        <div class="clearfix"></div>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <!-- Projects -->
        <div class="row">

            <div *ngIf="projects && projects.length == 0" class="col-md-12">
                <noresults></noresults>
            </div>

            <projects [projects]="projects" [style]="'col-lg-4 col-md-6'"></projects>
        </div>
        <!-- End Projects -->

    </section>
</div>

<!-- Footer -->
<footer-component></footer-component>