<!-- Header -->
<app-header></app-header>

<!-- Left sidebar -->
<app-settings-menu active="users"></app-settings-menu>

<!-- Content Wrapper -->
<div class="content-wrapper" style="min-height: 1126px;">

  <!-- Main content -->
  <section class="content">

    <!-- Content -->

    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">List of users</h3>
      </div>

      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody><tr>
            <th>#</th>
            <th>User</th>
            <th class="hidden-xs hidden-sm hidden-md">Email</th>
            <th class="hidden-xs hidden-sm">Role</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let user of users; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ user.name }}</td>
            <td class="hidden-xs hidden-sm hidden-md">{{ user.id }}</td>
            <td class="hidden-xs hidden-sm">
              <span *ngIf="user.role === 'User'" class="label label-success">User</span>
              <span *ngIf="user.role === 'Writer'" class="label label-primary">Writer</span>
              <span *ngIf="user.role === 'Administrator'" class="label label-danger">Administrator</span>
            </td>
            <td>
              <a [routerLink]="['/user-info', user.id]" class="btn btn-default btn-xs btn-flat">Edit</a>
              <a *ngIf="!user.deletionMode" (click)="tryDeleteUser(user)" class="btn btn-warning btn-xs btn-flat">Delete</a>
              <span *ngIf="user.deletionMode">
                <a (click)="cancelDeleteUser(user)" class="btn btn-default btn-xs btn-flat">Cancel</a>
                <a (click)="confirmDeleteUser(i)" class="btn btn-danger btn-xs btn-flat">I'm sure</a>
              </span>
            </td>
          </tr>
        </tbody></table>
      </div>
      
      <div class="box-footer">
        <a [routerLink]="['/user-info']" class="btn btn-primary btn-flat">Add user</a>
      </div>
      
    </div>

    <!-- End Content -->

  </section>
</div>

<!-- Footer -->
<app-footer></app-footer>