<!-- Header -->
<app-header></app-header>

<!-- Left sidebar -->
<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">

    <ul class="sidebar-menu">
      <li class="header">SETTINGS</li>
      <li>
        <a [routerLink]="['/projects']" routerLinkActive="active">
          <i class="fa fa-files-o"></i> <span>Projects</span>
          <span class="pull-right-container"></span>
        </a>
      </li>
      <li class="active">
        <a [routerLink]="['/users']" routerLinkActive="active">
          <i class="fa fa-users"></i> <span>Users</span>
          <span class="pull-right-container"></span>
        </a>
      </li>
    </ul>

  </section>
</aside>

<!-- Content Wrapper -->
<div class="content-wrapper" style="min-height: 1126px;">

  <!-- Main content -->
  <section class="content">

    <!-- Content -->

    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">List of users</h3>
      </div>

      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody><tr>
            <th>#</th>
            <th>User</th>
            <th>Email</th>
            <th>Role</th>
            <th>Projects</th>
            <th>Actions</th>
          </tr>
          <tr>
            <td>1</td>
            <td>John Doe</td>
            <td>john.doe@unit4.com</td>
            <td><span class="label label-success">User</span></td>
            <td>Configuration Manager, IDS</td>
            <td>
              <a class="btn btn-default btn-sm btn-flat">Edit</a>
              <a class="btn btn-warning btn-sm btn-flat">Delete</a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Alexander Pierce</td>
            <td>alexander.pierce@unit4.com</td>
            <td><span class="label label-primary">Writer</span></td>
            <td>Message Hub</td>
            <td>
              <a class="btn btn-default btn-sm btn-flat">Edit</a>
              <a class="btn btn-warning btn-sm btn-flat">Delete</a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Bob Doe</td>
            <td>bob.doe@unit4.com</td>
            <td><span class="label label-primary">Writer</span></td>
            <td>Configuration Manager</td>
            <td>
              <a class="btn btn-default btn-sm btn-flat">Edit</a>
              <a class="btn btn-warning btn-sm btn-flat">Delete</a>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>Mike Doe</td>
            <td>mike.doe@unit4.com</td>
            <td><span class="label label-danger">Administrator</span></td>
            <td>IDS, Configuration Manager</td>
            <td>
              <a class="btn btn-default btn-sm btn-flat">Edit</a>
              <a class="btn btn-warning btn-sm btn-flat">Delete</a>
            </td>
          </tr>
        </tbody></table>
      </div>
      
      <div class="box-footer">
        <a [routerLink]="['/user-info']" class="btn btn-primary btn-flat">Add user</a>
      </div>
      
    </div>

    <!-- End Content -->

  </section>
</div>

<!-- Footer -->
<app-footer></app-footer>