<!-- Header -->
<app-header (openHomeEvent)="openHomeEvent($event)"></app-header>

<!-- Left sidebar -->
<aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">
        
        <ul class="sidebar-menu">
            <li class="header"></li>
            <li *ngFor="let group of groups$ | async" [class]="getGroupStyle(group.name)">
                <a class="cursor-pointer" (click)="showGroup(group.name)">
                    <img style="height: 14px; width: 22px; vertical-align: middle" alt="" [src]="getSvgImage(group.svgIcon)" /> <span style="vertical-align: middle">{{ group.name }}</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
        </ul>

    </section>
</aside>

<!-- Content Wrapper -->
<div class="content-wrapper" style="min-height: 1126px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <!-- Tags -->
        <div class="pull-right">
            <ss-multiselect-dropdown [options]="tags$ | async" [texts]="myTexts" [settings]="mySettings" [ngModel]="selectedTags" (ngModelChange)="onTagsChange($event)"></ss-multiselect-dropdown>
        </div>
        <div class="clearfix"></div>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <!-- Projects -->
        <div class="row projects">

            <div *ngIf="(projects$ | async) && (projects$ | async).length == 0" class="col-md-12">
                <app-no-results></app-no-results>
            </div>

            <app-projects-blocks [projects]="projects$ | async" [style]="'col-lg-4 col-md-6'"></app-projects-blocks>
        </div>
        <!-- End Projects -->

    </section>
</div>

<!-- Footer -->
<app-footer></app-footer>